body{
    font-family: "한컴산뜻돋움", Times, serif;
}

header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0)), url(water.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

#sub{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(water.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-hover:hover {
    background-color: rgba(200, 231, 255, 0.2);
}